/* Banner Style  */
.blog-banner{
    min-height: 300px;
    background-image:linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)),
    url(../img/background-furniture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.blog-banner-content{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
}
.blog-heading{
    font-size: 40px;
    font-weight: 600;
}
.blog-breadcrumb{
    position: absolute;
    bottom: 10px;
}
.breadcrumb-slash{
    margin: 0 16px;
}
/* Banner Style End */
.blog-section{
    overflow: hidden;
    background-color: #f9f9f9;
}
.blog-header{
    background-color: #fff;
    padding: 0 24px;
}
.blog-card{
    background-color: #fff;
    padding: 25px;
    margin-bottom: 30px;
    transition: all .3s;
}
.blog-img{
    position: relative;
}
.blog-img img{
    max-width: 100%;
    height: auto;
}
.like-share{
    background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    bottom: -10px;
    padding: 12px 10px;
    position: absolute;
    transition: all 0.3s;
    visibility: hidden;
    width: 100%;
    overflow: hidden;
}
.blog-card:hover{
    box-shadow: 1px 25px 54px rgb(0 0 0 / 12%);
}
.blog-card:hover .like-share{
    bottom: 0;
    transition: all 0.3s ease 0s;
    visibility: visible;
}
.like-share a i {
    padding: 0 8px 0 2px;
}
.like-share a span{
    font-size: 12px;
}
.blog-post-title{
    color: #af7c48;
    padding: 6px;
    border: 1px solid #af7c48;
}
.post-date, .read-more-link{
    color: #af7c48;
}
.blog-post{
    padding: 30px 0 10px;
}
.blog-post-info{
    margin-left: 20px;
}
.blog-para{
    font-size: 12px;
}
@media(max-width:576px){
    .blog-img a{
        display: block;
    }
    .blog-img img{
        width: 100%;
    }
    .blog-heading{
        font-size: 32px;
    }
}