/* work-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/work-sans-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/work-sans-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/work-sans-v18-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/work-sans-v18-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/work-sans-v18-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/work-sans-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/work-sans-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v18-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/work-sans-v18-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/work-sans-v18-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/work-sans-v18-latin-500.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/work-sans-v18-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/work-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/work-sans-v18-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/work-sans-v18-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/work-sans-v18-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/work-sans-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/work-sans-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/work-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/work-sans-v18-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('../fonts/work-sans-v18-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
       url('../fonts/work-sans-v18-latin-700.svg#WorkSans') format('svg'); /* Legacy iOS */
}




@font-face {
  font-family: 'himanshi-ahir-icons';
  src:  url('../fonts/himanshi-ahir-icons.eot?oidqfj');
  src:  url('../fonts/himanshi-ahir-icons.eot?oidqfj#iefix') format('embedded-opentype'),
    url('../fonts/himanshi-ahir-icons.ttf?oidqfj') format('truetype'),
    url('../fonts/himanshi-ahir-icons.woff?oidqfj') format('woff'),
    url('../fonts/himanshi-ahir-icons.svg?oidqfj#himanshi-ahir-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="hai-"], [class*=" hai-"] {
  font-family: 'himanshi-ahir-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hai-codiatic:before {
  content: "\e92f";
}
.hai-vscode:before {
  content: "\e92a";
}
.hai-bb-agency:before {
  content: "\e930";
}
.hai-accessiblity:before {
  content: "\e914";
}
.hai-w3c:before {
  content: "\e915";
}
.hai-cross-device:before {
  content: "\e916";
}
.hai-domain:before {
  content: "\e917";
}
.hai-ecommerce:before {
  content: "\e918";
}
.hai-marketing:before {
  content: "\e919";
}
.hai-prototype:before {
  content: "\e91a";
}
.hai-responsive:before {
  content: "\e91b";
}
.hai-seo:before {
  content: "\e91c";
}
.hai-web-location:before {
  content: "\e91d";
}
.hai-web-design:before {
  content: "\e91e";
}
.hai-website:before {
  content: "\e923";
}
.hai-web-speed:before {
  content: "\e929";
}
.hai-arrow-right:before {
  content: "\e927";
}
.hai-tab-arrow:before {
  content: "\e928";
}
.hai-medium:before {
  content: "\e921";
}
.hai-magic:before {
  content: "\e92b";
}
.hai-house:before {
  content: "\e92c";
}
.hai-file-lines:before {
  content: "\e92d";
}
.hai-briefcase:before {
  content: "\e92e";
}
.hai-skype:before {
  content: "\e926";
}
.hai-mail:before {
  content: "\e925";
}
.hai-bitbucket:before {
  content: "\e924";
}
.hai-linkedin:before {
  content: "\e920";
}
.hai-github:before {
  content: "\e922";
}
.hai-developer-bazaar:before {
  content: "\e91f";
}
.hai-tecstub:before {
  content: "\e900";
}
.hai-pinterest:before {
  content: "\e901";
}
.hai-instagram:before {
  content: "\e902";
}
.hai-git:before {
  content: "\e903";
}
.hai-dribbble-box:before {
  content: "\e904";
}
.hai-behance-box:before {
  content: "\e905";
}
.hai-react:before {
  content: "\e906";
}
.hai-photoshop:before {
  content: "\e907";
}
.hai-messenger:before {
  content: "\e908";
}
.hai-facebook:before {
  content: "\e909";
}
.hai-jira:before {
  content: "\e90a";
}
.hai-npm:before {
  content: "\e90b";
}
.hai-css:before {
  content: "\e90c";
}
.hai-dribbble:before {
  content: "\e90d";
}
.hai-behance:before {
  content: "\e90e";
}
.hai-js:before {
  content: "\e90f";
}
.hai-html:before {
  content: "\e910";
}
.hai-office:before {
  content: "\e911";
}
.hai-figma:before {
  content: "\e912";
}
.hai-illustrator:before {
  content: "\e913";
}
.hai-hubspot:before {
  content: "\e932";
}
.hai-webflow:before {
  content: "\e931";
}
.hai-close:before {
  content: "\e933";
}